
#timer {
  font-size: 50px;
  margin: 10px;
}
#myProgress {
  margin: 10px;
  width: 90%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  line-height: 20px;
}
.buttons {
  margin: 10px;
}

#data {
  margin: 10px;
  border-collapse: collapse;
}
